.error {
  text-align: center;
  margin-top: 13rem;
  font-weight: 700;
  font-size: 1.25rem;
  /* 20px */
  line-height: 1.75rem;
  /* 28px */
  color: red
}

.loading {
  text-align: center;
  margin-top: 13rem;
  font-weight: 700;
  font-size: 1.25rem;
  /* 20px */
  line-height: 1.75rem;
  /* 28px */
}

.cantainer {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}

.prod {
  display: grid;
  gap: 0px;
	grid-template-columns: repeat(7, minmax(0, 1fr));
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  background-color: #0d9488;
  color: white;
  font-size: 0.75rem;/* 16px */
  line-height: 1.5rem;/* 24px */
  border-radius: 0.25rem;/* 4px */
  padding: 0.5rem; /* 8px */
}

.image {
  grid-column: span 2 / span 2;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  border-radius: 0.75rem; /* 12px */
}

.title {
  grid-column: span 3 / span 3;
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
}

.price {
  grid-column: span 1 / span 1;
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
}

.notSelected {
  text-align: center;
  margin-top: 13rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #0d9488;
}

.contButton {
  display: grid;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 75%;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 20px auto;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 0px;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
}

.countPrice {
  grid-area: 1 / 5 / 2 / 7;
  color: rgb(110, 41, 41);
}

.linkBuy {
  text-decoration: none;
  grid-area: 1 / 7 / 2 / 8;
  cursor: auto;
}

.buttonBuy{
  border: none;
  outline: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #0d9488;
  color: white;
  border-radius: 0.25rem;
  /* transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms; */
  text-transform: uppercase;
  transition: .5s;
  cursor: pointer;
}
.buttonBuy:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
}

.anim {
  text-transform: uppercase;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }
}