.error {
  text-align: center;
  margin-top: 13rem;
  font-weight: 700;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  color: red
}

.loading {
  text-align: center;
  margin-top: 13rem;
  font-weight: 700;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.filter {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 5px;
  padding: 0 1.25rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
  /* text-transform: uppercase; */
  background-color: #b4dad6;
}

.container {
  display: grid;
  gap: 1rem; /* 16px */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  width: 80%;
  margin: 25px auto 0;
  box-sizing: border-box;
}